* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to bottom, #42D854, #809869);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.box {

    background-color: rgb(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 20px;
    width:  25%;

}
#fieldsetCreate {
    border: 3px solid green;
    padding: 10px;
}
#legendCreate {
    border: 1px solid green;
    background-color: green;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
}
.inputbox {
    position: relative;
}
.input {
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
}
#submitCreate {
    background-image: linear-gradient(to right, rgb(19, 185, 75), rgb(18, 117, 56));
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

#submitCreate:hover {
    background-image: linear-gradient(to right, rgb(19, 185, 132), rgb(18, 117, 110));
}

#titulo {
    position: absolute;
    top: 10%;
    font-size: 50px;
    font-weight: bold;
    color: white;
    /* margin: 30px; */
}